[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
flake8 = "*"
mypy = "*"
pytest = "*"
platformio = "*"

[packages]
pyserial = "*"
invoke = "*"
kivy = "*"

[requires]
python_version = "3.7"

[scripts]
test = "python -m pytest --cache-clear"
